:root{
    --background-testimonial: #f1f1f1;
}
#testimonial{
    background-color: var(--background-testimonial);
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 40px;
}

.text-testimonial{
    font-size: 25px;
    line-height: 2rem;
}

.name-testimonial{
    font-size: 21px;
}